.todo-item {
	display: flex;
	flex-direction: column;
	gap: 0px;
	/* padding-bottom: 8px; */
}

.todo-item .date {
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: oklch(55.4% 0.046 257.417);
	margin: 0;
}

.todo-item .details {
	display: flex;
	gap: 16px;
	align-items: center;
}

.todo-item.completed .details {
	text-decoration: line-through;
}

.todo-item .checkbox {
	min-width: 24px;
	min-height: 24px;
	cursor: pointer;
	accent-color: rgb(0, 188, 125);
	margin: 0;
}

.todo-item .description {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #eaeaea;
	flex-grow: 1;
	margin: 0;
}

.todo-item .actions {
	display: flex;
	gap: 1px;
	align-items: center;
}

.todo-item .actions .icon-btn {
	/* background-color: transparent; */
	height: 40px;
	width: 48px;
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	cursor: pointer;
	margin: 0;
}

.actions #left {
	border-radius: 24px 0 0 24px;
}

.actions #right {
	border-radius: 0 24px 24px 0;
}

.todo-item .actions .icon-btn:hover {
	background-color: rgba(142, 81, 255, 0.2);
}

.todo-item .actions .icon-btn:hover svg path {
	fill: #eaeaea;
}

.content {
	flex-grow: 1;
	align-items: baseline;
	padding-bottom: 22px;
}

.content p {
	justify-content: flex-end;
}
