.btn {
	background-color: #8e51ff;
	border-radius: 16px;
	border: none;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(127, 34, 254);
	box-shadow: 0px 0px 0px 4px #8e51ff;
}
