.container {
	background-color: #020618;
	border-radius: 16px;

	width: 440px;
	max-width: 90%;
	margin: 0 auto;
	margin-top: 5%;
	box-shadow: rgba(131, 7, 202, 0.2) 0px 16px 48px;

	/* margin-bottom: 24px; */
}
