.subheading {
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: #8e51ff;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 10%,
		rgba(135, 126, 237, 0.2) 100%
	);

	padding-bottom: 16px;
	padding-top: 16px;
	padding-left: 24px;
	border-radius: 40px;
	margin: 0;
	height: auto;
	margin-bottom: 24px;
}
