* {
	box-sizing: border-box;
}
#root {
	padding-top: 24px;
}

body {
	min-height: 100vh;
	font-family: "Google Sans", sans-serif;
	margin: 0;

	background: linear-gradient(
		to bottom,
		rgb(15, 23, 43),
		rgb(29, 41, 61),
		rgb(15, 23, 43)
	);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	pointer-events: none;
	background: linear-gradient(
		to right,
		rgba(15, 23, 43, 0.1) 0%,
		rgba(15, 23, 43, 0.1) 4.3478%,
		rgba(15, 23, 43, 0) 4.3478%,
		rgba(15, 23, 43, 0) 8.6956%,
		rgba(15, 23, 43, 0.1) 8.6956%,
		rgba(15, 23, 43, 0.1) 13.0434%,
		rgba(15, 23, 43, 0.2) 13.0434%,
		rgba(15, 23, 43, 0.2) 17.3912%,
		rgba(15, 23, 43, 0.3) 17.3912%,
		rgba(15, 23, 43, 0.3) 21.739%,
		rgba(15, 23, 43, 0.4) 21.739%,
		rgba(15, 23, 43, 0.4) 26.0868%,
		rgba(15, 23, 43, 0.5) 26.0868%,
		rgba(15, 23, 43, 0.5) 30.4346%,
		rgba(15, 23, 43, 0.6) 30.4346%,
		rgba(15, 23, 43, 0.6) 34.7824%,
		rgba(15, 23, 43, 0.7) 34.7824%,
		rgba(15, 23, 43, 0.7) 39.1302%,
		rgba(15, 23, 43, 0.8) 39.1302%,
		rgba(15, 23, 43, 0.8) 43.478%,
		rgba(15, 23, 43, 0.9) 43.478%,
		rgba(15, 23, 43, 0.9) 47.8258%,
		rgba(15, 23, 43, 1) 47.8258%,
		rgba(15, 23, 43, 1) 52.1736%,
		rgba(15, 23, 43, 0.9) 52.1736%,
		rgba(15, 23, 43, 0.9) 56.5214%,
		rgba(15, 23, 43, 0.8) 56.5214%,
		rgba(15, 23, 43, 0.8) 60.8692%,
		rgba(15, 23, 43, 0.7) 60.8692%,
		rgba(15, 23, 43, 0.7) 65.217%,
		rgba(15, 23, 43, 0.6) 65.217%,
		rgba(15, 23, 43, 0.6) 69.5648%,
		rgba(15, 23, 43, 0.5) 69.5648%,
		rgba(15, 23, 43, 0.5) 73.9126%,
		rgba(15, 23, 43, 0.4) 73.9126%,
		rgba(15, 23, 43, 0.4) 78.2604%,
		rgba(15, 23, 43, 0.3) 78.2604%,
		rgba(15, 23, 43, 0.3) 82.6082%,
		rgba(15, 23, 43, 0.2) 82.6082%,
		rgba(15, 23, 43, 0.2) 86.956%,
		rgba(15, 23, 43, 0.1) 86.956%,
		rgba(15, 23, 43, 0.1) 91.3038%,
		rgba(15, 23, 43, 0) 91.3038%,
		rgba(15, 23, 43, 0) 95.6516%,
		rgba(15, 23, 43, 0.1) 95.6516%,
		rgba(15, 23, 43, 0.1) 100%
	);
	mix-blend-mode: overlay;
}

@media (max-width: 768px) {
	body::before {
		background: linear-gradient(
			to right,

			/* 10% */ rgba(15, 23, 43, 0.1) 0%,
			rgba(15, 23, 43, 0.1) 14.2857%,

			/* 20% */ rgba(15, 23, 43, 0.3) 14.2857%,
			rgba(15, 23, 43, 0.3) 28.5714%,

			/* 40% */ rgba(15, 23, 43, 0.5) 28.5714%,
			rgba(15, 23, 43, 0.5) 42.8571%,

			/* 100% centro */ rgba(15, 23, 43, 0.7) 42.8571%,
			rgba(15, 23, 43, 0.7) 57.1428%,

			/* 40% */ rgba(15, 23, 43, 0.5) 57.1428%,
			rgba(15, 23, 43, 0.5) 71.4285%,

			/* 20% */ rgba(15, 23, 43, 0.3) 71.4285%,
			rgba(15, 23, 43, 0.3) 85.7142%,

			/* 10% */ rgba(15, 23, 43, 0.1) 85.7142%,
			rgba(15, 23, 43, 0.1) 100%
		);
	}
}

.steps-bg::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	pointer-events: none;
	background-color: #7218f8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
	mix-blend-mode: overlay;
}
/* body {
	min-height: 100vh;
	font-family: "Google Sans", sans-serif;
	margin: 0;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
} */
