* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
